.title-principal {
    color: #FFFFFF;
    font-size: 35px;
    margin: 30px;
}

.container-layout {
    padding-bottom: 5px;
}

.layout {
    background-color: #3064a8;
    padding-top: 10px;
}

.return-home {
    margin-left: 10px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
}
