.loader-container {
   background-color: #000000;
   opacity: 0.7;
   position: fixed;
   height: 100%; 
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   top: 0;
}

.loading {
    width: 100px;
    height: 100px;
    border: 7px solid #3064a838;
    border-top-color: #3064a8;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}